.our-history-page {
  background-color: var(--white);
  color: var(--black);
}

.our-history-wrapper {
  background-color: var(--white);
  color: var(--black);
  min-height: 100vh;
  padding: 10rem 2.5rem 1rem 1rem;
}

.our-history-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.our-history-image-container {
  width: 50%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.our-history-image {
  width: 37.5rem;
  object-fit: cover;
  border-radius: 1rem;
}

.our-history-texts {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
}

.our-history-title {
  font-size: 6vw;
  letter-spacing: -0.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.paragraph-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  max-width: 40vw;
}

.our-history-paragraph {
  font-size: 1.4rem;
  color: var(--black);
  font-weight: 400;
}

/* === Responsive dès 1200px === */
@media (max-width: 1460px) {
  .our-history-title {
    font-size: 4rem;
    letter-spacing: -0.1rem;
  }

  .our-history-image {
    max-width: 450px;
  }
  .our-history-paragraph {
    font-size: 1.2rem;
    color: var(--black);
    font-weight: 400;
  }
}

@media (max-width: 1200px) {
  .our-history-wrapper {
    padding: 8rem 0rem 0rem 0rem;
  }

  .our-history-content {
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .our-history-image-container {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center; /* centre verticalement si besoin */
  }

  .our-history-image {
    width: 100%; /* prend toute la largeur */
    max-width: none; /* enlève la limite */
    height: auto; /* garde les proportions */
    border-radius: 0; /* optionnel : bord arrondi désactivé pour plein écran */
    object-fit: cover; /* garde un rendu propre */
  }

  .our-history-title {
    font-size: 5rem;
    letter-spacing: -0.2rem;
    margin-left: 2rem;
  }

  .our-history-texts {
    text-align: left;
    width: 100%;
    padding: 2rem 0rem;
  }

  .paragraph-container {
    max-width: 90%;
    margin: 0 auto; /* centre le texte */
  }
}

/* === Petits écrans (≈ <600px) === */
@media (max-width: 600px) {
  .our-history-wrapper {
    padding-top: 12.5rem;
  }

  .our-history-title {
    margin-left: 1rem;
    font-size: 3.5rem;
  }

  .our-history-image {
    width: 95%;
    max-width: 320px;
  }

  .our-history-paragraph {
    font-size: 1rem;
  }

  .our-history-image-container {
    width: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
}
