.envision-full-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;

  background-color: var(--black);
  font-family: "Switzer-Regular", sans-serif;
  z-index: 1000;
}

.envision-full-video-preview {
  width: 100%;
  max-width: 117rem;
}

.envision-full-video-video {
  width: 100%;
  max-width: 117rem;
}

.envision-double-video {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: var(--black);
  margin-bottom: 2rem;

  font-family: "Switzer-Regular", sans-serif;
  z-index: 1000;
}

.envision-double-video-left {
  width: 100%;
  max-width: 57.5rem;
}

.envision-double-video-right {
  width: 100%;
  max-width: 57.5rem;
}

.envision-double-video-left-preview {
  width: 100%;
  max-width: 59rem;
}

.envision-double-video-right-preview {
  width: 100%;
  max-width: 59rem;
}

.envision-double-video-right-video {
  width: 100%;
  max-width: 59rem;
}

.envision-double-video-left-video {
  width: 100%;
  max-width: 59rem;
}
