.envision-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  background-color: rgb(0, 0, 0);
  font-family: "Switzer-Regular", sans-serif;
  z-index: 1000;
}

.envision-intro video {
  width: 100%;
  max-width: 1920px;
  border-radius: 1rem;
}
