.project-header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover; /* Couvre tout l'écran sans déformation */
  z-index: 0;
}

/* Quand l'écran passe en dessous de 1200px */
@media screen and (max-width: 1200px) {
  .project-image {
    object-fit: cover; /* ne pas crop */
    background-color: black; /* optionnel : remplir les bords avec noir */
  }
}
.project-dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* niveau d’assombrissement */
  z-index: 0.5; /* entre l’image et le texte */
  pointer-events: none; /* pour ne pas bloquer les interactions */
}
.project-image-overlay {
  position: absolute;
  bottom: 4rem;
  left: 2rem;
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 90%;
  z-index: 1000; /* Au-dessus de l'image */
}

.project-title {
  font-size: 7rem;
  font-weight: bold;
  margin: 0 0 0.5rem 0;
}

.project-description {
  font-size: 1.5rem;
  max-width: 60%;
  line-height: 1.4;
  margin: 0;
}

/* TABLETTE */
@media screen and (max-width: 1024px) {
  .project-title {
    font-size: 7rem;
  }

  .project-description {
    font-size: 1.2rem;
    max-width: 80%;
  }

  .project-image-overlay {
    bottom: 3rem;
    left: 1.5rem;
    padding: 0.8rem;
  }
}

/* MOBILE */
@media screen and (max-width: 600px) {
  .project-title {
    font-size: 3rem;
  }

  .project-description {
    font-size: 1rem;
    max-width: 100%;
  }

  .project-image-overlay {
    bottom: 4rem;
    left: 1rem;
    padding: 0.6rem;
  }
}

.project-header-fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 80%,
    var(--black) 100%
  );
  z-index: 1; /* Au-dessus de l'image mais en dessous du texte */
}
