.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* Chaque coin a une div .corner avec 2 barres */
.corner {
  position: absolute;
  width: 3rem;
  height: 3rem;
}

/* Barres blanches formant la croix */
.corner .bar-horizontal,
.corner .bar-vertical {
  position: absolute;
  background-color: white;
}

/* Barre horizontale */
.corner .bar-horizontal {
  width: 3rem;
  height: 0.15rem;
  top: calc(1.5rem - 0.15rem); /* centré verticalement */
  left: 0;
}

/* Barre verticale */
.corner .bar-vertical {
  width: 0.15rem;
  height: 3rem;
  top: 0;
  left: calc(1.5rem - 0.15rem); /* centré horizontalement */
}

/* Position des coins, avec un décalage de 2rem depuis les bords */
.corner.top-left {
  top: 3rem;
  left: 3rem;
}

.corner.top-right {
  top: 3rem;
  right: 3rem;
}

.corner.bottom-left {
  bottom: 3rem;
  left: 3rem;
}

.corner.bottom-right {
  bottom: 3rem;
  right: 3rem;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.hero-footer {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: clamp(2rem, 10vw, 7.5rem);
  font-weight: bold;
  color: white;
  width: 90%;
  text-align: center;
  z-index: 2;
  white-space: normal;
}

.model-3d {
  height: 55vh;
  width: 50vw;
  z-index: 2;
  display: block;
}

.model-image {
  height: 55vh;
  width: 80vw;
  z-index: 2;
  display: none;
}

@media (max-width: 768px) {
  .model-3d {
    display: none;
  }
  .model-image {
    display: block;
  }
  .hero-footer {
    bottom: 6.5rem;
  }
}

.menu-wrapper {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 3;
}
