/* Reset CSS pour uniformiser les navigateurs */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables CSS pour couleurs, tailles, etc. */
:root {
  --black: #0f0f0f;
  --red: #ff1100;
  --white: #f5f5f5;
  --dark-gray: #333333;
  --light-gray: #c2c2c2;
  --font-size-base: 16px;
  --font-size-large: 24px;
  --font-size-xl: 36px;
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  max-width: 100%;
}

/* Masquer la barre de défilement tout en permettant le défilement */
html {
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* Firefox : masque la barre de défilement */
  -ms-overflow-style: none;
  scroll-snap-type: y mandatory; /* si tu veux du snap */
  -webkit-overflow-scrolling: touch; /* pour un scroll fluide sur iOS */
}

html::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari : masque la barre de défilement */
}

/* Appliquer le masquage également à body pour plus de robustesse */
body {
  position: relative;
  font-family: "Grotesk-Regular", sans-serif;
  font-weight: 400;
  background-color: var(--black);
  color: var(--white);
  line-height: 1.6;
  /* Cursur via url */
  cursor: none;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

a {
  color: var(--white);
  text-decoration: none;
}
.form-input::placeholder,
textarea::placeholder {
  color: var(--light-gray);
}
/* Responsive breakpoints */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
